<h1>Home Page</h1>

<ul>
  <li ng-repeat="room in home.rooms" ng-click="home.messageSelect(room)">{{room.name}}</li>
</ul>

<form ng-submit="home.addRoom(roomName)">
  Room name:<br>
  <input type="text" ng-model="roomName" placeholder="Enter room name"><br>
  <input type="submit" value="Submit">
</form>

<h2>{{home.selectedRoom.name}}</h1>

<ul>
  <li ng-repeat="message in home.messageRoom">{{message.username}}: {{message.content}}</li>
</ul>

<form ng-if= "home.selectedRoom" ng-submit="home.newMessageSend(newMessage)">
  New Message:<br>
  <input type="text" ng-model="newMessage" placeholder="Enter new message"><br>
  <input type="submit" value="Submit">
</form>

<div ng-if="!home.currentUser()" class="modal">
  <form ng-submit="home.addUsername(username)">
    Username:<br>
    <input type="text" ng-model="username" placeholder="Enter room name"><br>
    <input type="submit" value="Submit">
  </form>
</div>

<!--
ng-submit
ng-model
-->
